{
  "interval": {{ monitor_interval }},
  "listen_port": {{ monitor_port }},
  "heartbeat_interval": {{ monitor_heartbeat_interval }},
  "public_url": {{ monitor_public_url | to_json }},
  "mattermost": {
    "enable": {{ monitor_mm_enable | bool | to_json }},
    "url": {{ monitor_mm_url | to_json }},
    "channel_id": {{ monitor_mm_channel_id | to_json }},
    "rich": {{ monitor_mm_rich | bool | to_json }}
  },
  "mongo_perf": {
    "enable": {{ monitor_mongo_perf_enable | bool | to_json }},
    "write_latency_ms": {{ monitor_mongo_perf_write_latency_ms }},
    "disk_read_ms": {{ monitor_mongo_perf_disk_read_ms }},
    "queue_len": {{ monitor_mongo_perf_queue_len }}
  },
  "db": {
    "path": "/app/data/argus.db",
    "retention_days": {{ monitor_retention_days }}
  },
  "host_metrics": {
    "enable": {{ monitor_host_metrics_enable | bool | to_json }},
    "ssh_user": {{ monitor_host_metrics_user | to_json }},
    "ssh_host": {{ monitor_host_metrics_host | to_json }},
    "ssh_key": "/app/.ssh/id_rsa",
    "known_hosts": "/app/.ssh/known_hosts"
  },
  "ollama": {
    "enable": {{ monitor_ollama_enable | bool | to_json }},
    "base_url": {{ monitor_ollama_base_url | to_json }},
    "model": {{ monitor_ollama_model | to_json }},
    "canary_interval": {{ monitor_ollama_canary_interval }},
    "num_predict": {{ monitor_ollama_num_predict }}
  },
  "elastic": {
    "enable": {{ monitor_elastic_enable | bool | to_json }},
    "url": {{ monitor_elastic_url | to_json }},
    "username": {{ monitor_elastic_username | to_json }},
    "heap_pct": {{ monitor_elastic_heap_pct }},
    "cpu_pct": {{ monitor_elastic_cpu_pct }},
    "degrade_on_yellow": {{ monitor_elastic_degrade_on_yellow | bool | to_json }},
    "freshness_enable": {{ monitor_elastic_freshness_enable | bool | to_json }},
    "freshness_index": {{ monitor_elastic_freshness_index | to_json }},
    "freshness_ts_field": {{ monitor_elastic_freshness_ts_field | to_json }},
    "freshness_max_age_sec": {{ monitor_elastic_freshness_max_age_sec }}
  },
  "kafka": {
    "enable": {{ monitor_kafka_enable | bool | to_json }},
    "host": {{ monitor_kafka_host | to_json }},
    "port": {{ monitor_kafka_port }},
    "client_id": {{ monitor_kafka_client_id | to_json }},
    "min_brokers": {{ monitor_kafka_min_brokers }},
    "track_traffic": {{ monitor_kafka_track_traffic | bool | to_json }},
    "track_lag": {{ monitor_kafka_track_lag | bool | to_json }},
    "lag_degrade": {{ monitor_kafka_lag_degrade }},
    "stall_enable": {{ monitor_kafka_stall_enable | bool | to_json }},
    "stall_max_msgs_per_sec": {{ monitor_kafka_stall_max_msgs_per_sec }},
    "stall_cycles": {{ monitor_kafka_stall_cycles }}
  },
  "active_window": {
    "enable": {{ monitor_active_window_enable | bool | to_json }},
    "tz": {{ monitor_active_window_tz | to_json }},
    "days": {{ monitor_active_window_days | to_json }},
    "start": {{ monitor_active_window_start | to_json }},
    "end": {{ monitor_active_window_end | to_json }}
  },
  "internet": {
    "enable": {{ monitor_internet_enable | bool | to_json }},
    "group": {{ monitor_internet_group | to_json }},
    "poor_ms": {{ monitor_internet_poor_ms }},
    "degrade_ms": {{ monitor_internet_degrade_ms }},
    "degrade_min_fraction": {{ monitor_internet_degrade_fraction }}
  },
  "targets": {{ monitor_targets | to_nice_json(indent=4) | indent(2) }}
}
